@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220; /* Light Background */
  --background-end-rgb: 255, 255, 255; /* Light Background End */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* Dark Text */
    --background-start-rgb: 0, 0, 0; /* Dark Background */
    --background-end-rgb: 0, 0, 0; /* Dark Background End */
  }
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb)); /* Set a solid background color */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
